body { background: #1e9969; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 19px; display: flex; }
.block-router-0 { color: #835b4b; font-size: 13px; margin-bottom: 5px; }
.block-order-1 { color: #891b56; font-size: 12px; margin-bottom: 5px; }
.block-database-2 { color: #879ebf; font-size: 21px; margin-bottom: 5px; }
.block-order-3 { color: #dbb2c7; font-size: 13px; margin-bottom: 5px; }
.block-payment-4 { color: #c3efe1; font-size: 17px; margin-bottom: 5px; }
.block-notify-5 { color: #19cfce; font-size: 16px; margin-bottom: 5px; }
.block-router-6 { color: #2618b7; font-size: 12px; margin-bottom: 5px; }
.block-search-7 { color: #dadc81; font-size: 21px; margin-bottom: 5px; }
.block-database-8 { color: #eb7cb3; font-size: 16px; margin-bottom: 5px; }
.block-cart-9 { color: #dc65e2; font-size: 16px; margin-bottom: 5px; }